@forward 'attribution';

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
  /* Primary Colors */
  --color-blue: hsl(246, 80%, 60%);
  --color-red-light: hsl(15, 100%, 70%);
  --color-blue-soft: hsl(195, 74%, 62%);
  --color-red-very-light: hsl(348, 100%, 68%);
  --color-green-lime: hsl(145, 58%, 55%);
  --color-violet: hsl(264, 64%, 52%);
  --color-orange-soft: hsl(43, 84%, 65%);

  /* Neutral Colors */
  --color-blue-very-dark: hsl(226, 43%, 10%);
  --color-blue-dark: hsl(235, 46%, 20%);
  --color-blue-desaturated: hsl(235, 45%, 61%);
  --color-blue-pale: hsl(236, 100%, 87%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-blue-very-dark);
  color: #fff;
  font-size: 1.5rem;
  font-family: 'Rubik', sans-serif;
}

.stat-container {
  /* margin: 0 auto; */
  height: 100vh;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 1rem;
  border: 3px solid yellow;
}

.stat-card {
  border-radius: 10px;
  padding: 1rem;
}

.stat-report {
  background-color: var(--color-blue);
}

.stat-work {
  background-color: var(--color-red-light);
}

.stat-play {
  background-color: var(--color-blue-soft);
}

.stat-study {
  background-color: var(--color-red-very-light);
}

.stat-exercise {
  background-color: var(--color-green-lime);
}

.stat-social {
  background-color: var(--color-violet);
}

.stat-care {
  background-color: var(--color-orange-soft);
}

@media (min-width: 1020px) {
  .stat-container {
    /* We'll replicate a Bootstrap-like 12 column layout */
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }

  .stat-card:not(:first-child) {
    grid-column: span 3;
    grid-row: span 6;
  }

  .stat-card:first-child {
    grid-column: span 3;
    grid-row: span 12;
  }
}
