@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

/*
- Very Dark Grayish Blue: hsl(217, 19%, 35%)
- Desaturated Dark Blue: hsl(214, 17%, 51%)
- Grayish Blue: hsl(212, 23%, 69%)
- Light Grayish Blue: hsl(210, 46%, 95%) */

:root {
  --color-blue-gray-dark: hsl(217, 19%, 35%);
  --color-blue-dark: hsl(214, 17%, 51%);
  --color-blue-gray: hsl(212, 23%, 69%);
  --color-blue-gray-light: hsl(210, 46%, 95%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Manrope', sanss-sans-serif;
  background-color: hsl(210, 46%, 95%);
  max-height: 100vh;

  color: var(--color-blue-gray-dark);
}

img {
  width: 100%;
}

.article-preview {
  width: 90%;
  max-width: 900px;
  margin: 5rem auto;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 20px;
  padding-right: 2rem;
  overflow: hidden;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.article-preview__image {
  width: 40%;
}

.article-preview__content {
  padding: 3rem;
}

.content__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-blue-gray-dark);
}

.content__body {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-blue-gray);
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.author__profile {
  display: flex;
  align-items: center;
}

.active {
  opacity: 0;
  display: none;
  visibility: none;
}

.author__image {
  border-radius: 50%;
  width: 20%;
  margin-right: 2rem;
  /* overflow: hidden; */
}

.author__name {
}

.author__date {
}

.author-share img {
  width: 1.5rem;
  height: 1.5em;
  border-radius: 50%;
  background-color: #fff;
}

.socials {
  background-color: var(--color-blue-gray-dark);
  padding: 0.5rem;
  text-align: center;
}

.share {
  display: inline-block;
  color: var(--color-blue-gray-light);
  text-transform: uppercase;
  letter-spacing: 2.5;
}

/* yle all Font Awesome Icons */
.social-link,
.fa {
  padding: 20px;
  font-size: 1.5rem;
  /* width: 2rem;
  height: 2rem; */

  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: var(--color-blue-gray-dark);
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  /* color: var(--color-blue-gray-dark);
  background-color: #fff; */
}

@media screen and (max-width: 680px) {
  .article-preview {
    flex-direction: column;
    padding-right: 0;
  }

  .article-preview__image {
    width: 100%;
  }
}
