*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-body;
  line-height: 1.6;
  margin: 0;
  padding: 0;

  // Most text is white -- this will help make re-defining color simpler
  color: $color-white;

  // ALL text on Mobile is centered
  text-align: center;

  // For absolutely-positioned images that hang out of bounds -- find better solution:
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  max-width: $max-width;
  padding: 1rem;
}

// Transparent text on white background
.cta-button {
  font-family: inherit;
  font-weight: 600;
  display: inline-block;
  background-color: $color-white;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  color: $color-red-1;

  // Turn text white, background light red
  &:hover {
    -webkit-text-fill-color: $color-white;
    // -webkit-background-clip: text;
    color: $color-white;
    background-color: $color-red-1;
  }

  &--secondary {
    font-family: inherit;
    font-weight: 600;
    display: inline-block;
    // background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    // background-color: transparent;
    color: $color-white;
    outline: 1px solid $color-white;

    // White text on transparent background
    &:hover {
      // Turn background white, text light red (or transparent?)
      background-color: $color-white;
      color: $color-red-2;
    }
  }
}
