@use 'variables' as *;

// Section 1 - "Designed for the future"
// This section and Section 3 share a lot of similarities -- perhaps share styles?

.section1 {
  color: $color-blue-3;
  padding-bottom: 12rem;
  padding-top: 5rem;

  // All text (except Section Header) becomes left-aligned
  @include breakpoint(lg) {
    text-align: left;
  }

  &__header {
    font-size: 2rem;
    margin-bottom: 5rem;
    @include breakpoint(lg) {
      text-align: center;
    }
  }

  .article__header {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .article__body {
    color: $color-blue-2;
  }

  .flex-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    @include breakpoint(lg) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__image {
    background-image: url('/images/illustration-editor-mobile.svg');
    background-repeat: no-repeat;
    background-size: 50vw;
    align-self: stretch;
    margin-bottom: 2rem;

    @include breakpoint(lg) {
      // Make the image the second column
      order: 1;
      flex: 1;
      flex-basis: 600px;
      margin-bottom: 0;
      position: absolute;
      width: 60vw;
      height: 70vh;
      right: -30%;
      top: -40%;
      background-image: url('/images/illustration-editor-mobile.svg');
      background-repeat: repeat;
      background-size: 100% 100%;
      // align-self: stretch;
    }
  }

  &__articles {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include breakpoint(lg) {
      // flex: 1;
      width: 50%;
    }
  }
}
