*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Overpass", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
}

.cta-button {
  font-family: inherit;
  font-weight: 600;
  display: inline-block;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  color: #ff7a85;
}

.cta-button:hover {
  -webkit-text-fill-color: white;
  color: white;
  background-color: #ff7a85;
}

.cta-button--secondary {
  font-family: inherit;
  font-weight: 600;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  color: white;
  outline: 1px solid white;
}

.cta-button--secondary:hover {
  background-color: white;
  color: #ff8f70;
}

.header {
  background: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d4d));
  background: linear-gradient(to right, #ff8f70, #ff3d4d);
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero {
  background: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d4d));
  background: linear-gradient(to right, #ff8f70, #ff3d4d);
  border-bottom-left-radius: 75px;
  padding-block: 5rem;
}

.hero h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  opacity: 0.5;
  margin-bottom: 1.5rem;
}

.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.section1 {
  color: #1f3f5b;
  padding-bottom: 12rem;
  padding-top: 5rem;
}

@media screen and (min-width: 999px) {
  .section1 {
    text-align: left;
  }
}

.section1__header {
  font-size: 2rem;
  margin-bottom: 5rem;
}

@media screen and (min-width: 999px) {
  .section1__header {
    text-align: center;
  }
}

.section1 .article__header {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.section1 .article__body {
  color: #4b5862;
}

.section1 .flex-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

@media screen and (min-width: 999px) {
  .section1 .flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section1__image {
  background-image: url("/images/illustration-editor-mobile.svg");
  background-repeat: no-repeat;
  background-size: 50vw;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  margin-bottom: 2rem;
}

@media screen and (min-width: 999px) {
  .section1__image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-preferred-size: 600px;
        flex-basis: 600px;
    margin-bottom: 0;
    position: absolute;
    width: 60vw;
    height: 70vh;
    right: -30%;
    top: -40%;
    background-image: url("/images/illustration-editor-mobile.svg");
    background-repeat: repeat;
    background-size: 100% 100%;
  }
}

.section1__articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
}

@media screen and (min-width: 999px) {
  .section1__articles {
    width: 50%;
  }
}

.section2 {
  background: url("/images/bg-pattern-circles.svg") no-repeat -10% -50%/50% 100%, -webkit-gradient(linear, left top, right top, from(#2c2d3f), to(#3f4164));
  background: url("/images/bg-pattern-circles.svg") no-repeat -10% -50%/50% 100%, linear-gradient(to right, #2c2d3f, #3f4164);
  border-top-right-radius: 75px;
  border-bottom-left-radius: 75px;
}

.section2 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 999px) {
  .section2 .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 4rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
}

@media screen and (min-width: 999px) {
  .section2__image {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .section2__image img {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@media screen and (min-width: 999px) {
  .section2__text {
    text-align: left;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-block: 4rem;
  }
}

.section2__header {
  margin-bottom: 1rem;
}

.section3 {
  padding-block: 15rem;
}

@media screen and (min-width: 999px) {
  .section3 {
    text-align: left;
  }
}

.section3 .article__header {
  font-size: 1.5rem;
  color: #1f3f5b;
  margin-bottom: 1.5rem;
}

.section3 .article__body {
  color: #4b5862;
}

.section3 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 999px) {
  .section3 .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 999px) {
  .section3__image {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.section3__articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
}

@media screen and (min-width: 999px) {
  .section3__articles {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.footer {
  background-color: #25252d;
  border-top-right-radius: 75px;
  padding-block: 3rem;
}

.footer a {
  color: #c8c8cb;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 899px) {
  .footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 5rem;
  }
}

.footer__logo {
  margin-bottom: 3.5rem;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

@media screen and (min-width: 899px) {
  .footer__links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 10rem;
  }
}

.footer__header {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}
/*# sourceMappingURL=style.css.map */