$themes: (
  darkTheme: (
    'color-background': hsl(230, 17%, 14%),
    'color-background-top': hsl(232, 19%, 15%),
    'color-card-background': hsl(228, 28%, 20%),
    'color-text-primary': hsl(228, 34%, 66%),
    'color-text-secondary': hsl(0, 0%, 100%),
  ),
  lightTheme: (
    'color-background': hsl(0, 0%, 100%),
    'color-background-top': hsl(225, 100%, 98%),
    'color-card-background': hsl(227, 47%, 96%),
    'color-text-primary': hsl(228, 12%, 44%),
    'color-text-secondary': hsl(230, 17%, 14%),
    'color-toggle': hsl(230, 22%, 74%),
  ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}

$page-max-width: 1200px;
// Light theme (default) variables
// Primary colors
$color-lime-green: hsl(163, 72%, 41%);
$color-bright-red: hsl(356, 69%, 56%);
$color-facebook: hsl(208, 92%, 53%);
$color-twitter: hsl(203, 89%, 53%);
// // - Instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%)
$color-youtube: hsl(348, 97%, 39%);

// // Exclusive to Light Theme
$color-background: hsl(0, 0%, 100%);
$color-background-top: hsl(225, 100%, 98%);
$color-card-background: hsl(227, 47%, 96%);
$color-text-primary: hsl(228, 12%, 44%);
$color-text-secondary: hsl(230, 17%, 14%);
$color-toggle: hsl(230, 22%, 74%);

// Dark theme variables
[data-theme='dark'] {
  $color-background: hsl(230, 17%, 14%);
  $color-background-top: hsl(232, 19%, 15%);
  $color-card-background: hsl(228, 28%, 20%);
  $color-text-primary: hsl(228, 34%, 66%);
  $color-text-secondary: hsl(0, 0%, 100%);
  //   $color-toggle: hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: white;
  line-height: 1.4;
  // background-color: $color-background;

  @include themed() {
    background: t('color-card-background');
  }
}

//  Keep image within its container
img {
  display: inline-block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

#socials {
  align-items: center;
  justify-content: center;
  gap: 2rem;

  @include themed() {
    color: t('color-text-secondary');
    background: t('color-background');
  }

  article {
    max-width: 400px;
    border-top: 5px solid blue;
    padding: 2rem;
    border-radius: 5px;

    @include themed() {
      color: t('color-text-secondary');
      background: t('color-card-background');
    }
  }
}
