@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

$page-breakpoint-mobile: 760px;
$page-breakpoint-tablet: 900px;
$page-max-width: 1150px;

$color-blue-dark: hsl(233, 26%, 24%);
$color-green-lime: hsl(136, 65%, 51%);
$color-cyan-bright: hsl(192, 70%, 51%);

$color-gray-blue: hsl(233, 8%, 62%);
$color-gray-blue-light: hsl(220, 16%, 96%);
$color-gray-light: hsl(0, 0%, 98%);
$color-white: hsl(0, 0%, 100%);

$font-size: 1.125rem;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Public Sans', sans-serif;
  font-size: $font-size;
  color: $color-gray-blue;
  line-height: 1.5;

  // Prevent scrolling due to desktop hero background sizing
  // TODO: Maybe find a better way to implement hero background instead?
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

//  Keep image within its container
img {
  display: inline-block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

.container {
  max-width: $page-max-width;
  margin: 0 auto;
  padding: 0 1rem;
  //   overflow: auto;
}

.cta-button {
  display: inline-block;
  padding: 0.75rem 2rem;
  margin-bottom: 1.5rem;
  color: $color-white;
  background: linear-gradient(to right, $color-green-lime, $color-cyan-bright);
  border-radius: 100px;

  &:hover {
    background: linear-gradient(
      to right,
      hsl(136, 65%, 71%),
      hsl(192, 70%, 81%)
    );
  }
}

header {
  background-color: $color-white;
  // display: flex;
  // padding-block: 2rem;
  // justify-content: space-between;
  // align-items: center;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-wrap: wrap;
    padding: 1.5rem;

    .nav-logo {
      line-height: 0;
    }

    ul {
      display: none;

      // Unset these
      // display: flex !important;
      // flex-direction: row;
      // gap: 2.5rem;
      // align-items: center;
    }

    ul.active {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;

      .cta-button {
        display: none;
      }
    }

    li {
      border-bottom: 5px solid transparent;
      border-image-slice: 1;

      &:hover {
        border-image-source: linear-gradient(
          to right,
          hsl(136, 65%, 71%),
          hsl(192, 70%, 81%)
        );
      }
    }

    .nav-hamburger {
      display: block;
      cursor: pointer;
    }
  }

  @media screen and (min-width: 880px) {
    .nav-hamburger {
      display: none !important;
    }

    .nav-bar ul {
      display: flex !important;
      flex-direction: row;
      gap: 2.5rem;
      align-items: center;
    }

    .nav-bar .cta-button {
      margin: 0;
    }
  }
}

#hero {
  background-color: $color-gray-light;
  text-align: center;
  // margin-block: 4rem;
  padding-bottom: 4rem;

  .hero__image {
    position: relative;
    min-height: 275px;
    background-image: url(images/bg-intro-mobile.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero__image::after {
    content: '';
    position: absolute;
    background-image: url(images/image-mockups.png);
    background-size: 92%;
    background-repeat: no-repeat;
    background-position: center 92%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  // .hero__image::before {
  //   content: '';
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   background-image: url('images/bg-intro-desktop.svg');
  //   background-size: 93%;
  //   background-repeat: no-repeat;
  //   background-position: center bottom;
  //   border: 2px solid green;
  // }

  img {
    position: relative;
    top: -140px;
  }

  .hero__text {
  }

  @media screen and (min-width: 880px) {
    // Attempting background image layout - desktop
    padding-bottom: 0;

    .container {
      display: flex;
      flex-flow: row-reverse nowrap;
      align-items: center;
      text-align: left;

      .hero__image {
        flex: 3;
        min-height: 650px;
        // background-image: url(images/bg-intro-desktop.svg);
        background-image: none;
        background-position: left center;
      }

      .hero__image::before {
        content: '';
        position: absolute;
        background-image: url(images/bg-intro-desktop.svg);
        background-position: 0% 78%;
        background-repeat: no-repeat;
        background-size: 122%;
        // left: 5%;
        // top: 0%;
        width: 150%;
        height: 100%;
      }

      .hero__image::after {
        content: '';
        position: absolute;
        background-image: url(images/image-mockups.png);
        background-position: center 85%;
        background-size: 95%;
        left: 25%;
        top: 0;
        width: 120%;
        height: 120%;
      }

      .hero__text {
        flex: 2;
      }
    }
  }

  h1 {
    color: $color-blue-dark;
    font-size: 2.5rem;
    font-weight: 400;
  }

  p {
    margin-block: 1.5rem;
  }

  .cta-button {
    margin-bottom: 0;
  }
}

#benefits {
  background-color: $color-gray-blue-light;
  text-align: center;
  padding-block: 4rem;

  @media screen and (min-width: 880px) {
    text-align: left;
  }

  .benefits-heading {
    margin-bottom: 3rem;

    @media screen and (min-width: 880px) {
      max-width: 650px;
    }

    h2 {
      color: $color-blue-dark;
      font-size: 2rem;
      font-weight: 400;
      margin-bottom: 1rem;
    }

    p {
    }
  }

  .benefits-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    // padding-block: 4rem;

    @media screen and (min-width: 880px) {
      flex-direction: row;
    }
  }

  .benefit {
    img {
    }

    h3 {
      color: $color-blue-dark;
      font-weight: 400;
      margin: 1rem 0;
    }
  }
}

#articles {
  background-color: $color-gray-light;
  padding: 5rem 0;

  h4 {
    color: $color-blue-dark;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2rem;

    @media screen and (min-width: 880px) {
      text-align: left;
    }
  }

  .article-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media screen and (min-width: 880px) {
      flex-direction: row;
    }
  }

  article {
    background-color: $color-white;
    padding-bottom: 2rem;
    border-radius: 5px;

    img {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      width: 100%;
    }
  }

  .article__author {
    font-size: 0.75rem;
    margin: 0.75rem 0;
    padding: 0 2rem;
  }

  .article__title {
    font-size: 1.25rem;
    font-weight: 700;
    color: $color-blue-dark;
    padding: 0 2rem;
  }

  .article__body {
    margin-top: 0.75rem;
    font-size: 1rem;
    padding: 0 2rem;
  }
}

footer {
  background-color: $color-blue-dark;
  color: white;
  text-align: center;
  padding-block: 2rem;

  @media screen and (min-width: 880px) {
    .container {
      text-align: left;
      display: grid;
      grid-template-columns: repeat(3, 1fr) 2fr;
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        'logo links1 links2 cta'
        'socials links1 links2 cta';
    }

    // align-items: center;
    // justify-items: start;
    // align-content: center;
    // justify-content: center;
  }

  .footer__logo {
    margin-bottom: 2rem;

    @media screen and (min-width: 880px) {
      grid-area: logo;
      align-self: start;
      margin-bottom: 0;
    }
  }

  .social-icons {
    line-height: 0;

    @media screen and (min-width: 880px) {
      grid-area: socials;
      align-self: end;
    }

    img {
      width: 30px;
      height: 30px;
      margin: 0 0.25rem;
    }
  }

  // nav ul {
  //   margin-block: 2rem;
  // }

  // nav ul li {
  //   margin-block: 0.5rem;
  // }
  a {
    color: white;
  }

  .footer__links {
    // margin-block: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    @media screen and (min-width: 880px) {
      // Change justification
      justify-content: space-between;
      // Remove margin
      margin-block: 0;
      // Horizontally center this div within its Grid Cell
      justify-self: center;
      // Vertically center this div within its Grid Cell
      align-self: space-between;
    }

    a {
      display: block;
    }
  }

  .column1 {
    margin-top: 2rem;
    grid-area: links1;
    @media screen and (min-width: 880px) {
      margin-top: 0;
    }
  }

  .column2 {
    margin-bottom: 2rem;
    grid-area: links2;
    @media screen and (min-width: 880px) {
      margin-bottom: 0;
    }
  }

  .footer__cta {
    @media screen and (min-width: 880px) {
      grid-area: cta;
      justify-self: end;
      text-align: right;
    }

    .cta-button {
      display: inline-block;
      padding: 0.75rem 2rem;
      margin-bottom: 1.5rem;
      background: linear-gradient(
        to right,
        $color-green-lime,
        $color-cyan-bright
      );
      border-radius: 100px;
    }

    .copyright {
      font-weight: 300;
      color: $color-gray-blue;
    }
  }
}
