@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

$page-breakpoint-mobile: 760px;
$page-breakpoint-tablet: 900px;
$page-max-width: 1260px;

$color-blue-dark: hsl(233, 26%, 24%);
$color-green-lime: hsl(136, 65%, 51%);
$color-cyan-bright: hsl(192, 70%, 51%);

$color-gray-blue: hsl(233, 8%, 62%);
$color-gray-blue-light: hsl(220, 16%, 96%);
$color-gray-light: hsl(0, 0%, 98%);
$color-white: hsl(0, 0%, 100%);

$font-size: 1.125rem;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Public Sans', sans-serif;
  font-size: $font-size;
  color: $color-gray-blue;
  line-height: 1.2;
}

//  Keep image within its container
img {
  display: inline-block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

.container {
  max-width: $page-max-width;
  margin: 0 auto;
  padding: 0 2rem;
  //   overflow: auto;
}

#benefits {
  background-color: $color-gray-blue-light;
  text-align: center;

  .benefits-heading {
    padding: 1rem 0 3.25rem 0;

    h2 {
      color: $color-blue-dark;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2;
      margin-bottom: 1rem;
    }

    p {
    }
  }

  .benefits-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .benefit {
    img {
    }

    h3 {
      color: $color-blue-dark;
      font-weight: 400;
      margin: 1rem 0;
    }
  }
}

#articles {
  background-color: $color-gray-light;
  padding: 5rem 0;

  h4 {
    color: $color-blue-dark;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 1rem;
  }

  .article-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  article {
    background-color: $color-white;
    padding-bottom: 2rem;
  }

  .article__author {
    font-size: 0.75rem;
    margin: 0.75rem 0;
    padding: 0 2rem;
  }

  .article__title {
    font-size: 1.25rem;
    font-weight: 700;
    color: $color-blue-dark;
    padding: 0 2rem;
  }

  .article__body {
    margin-top: 0.75rem;
    font-size: 1rem;
    padding: 0 2rem;
  }
}

footer {
  background-color: $color-blue-dark;
  color: white;
  text-align: center;

  .social-icons {
    img {
      width: 30px;
      height: 30px;
      margin: 0 0.25rem;
    }
  }

  a {
    color: white;
  }
}
