@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Public Sans', sans-serif;
  font-size: 1.125rem;
  color: #9698a6;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

img {
  display: inline-block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 1rem;
}

.cta-button {
  display: inline-block;
  padding: 0.75rem 2rem;
  margin-bottom: 1.5rem;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  border-radius: 100px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#hero {
  text-align: center;
  margin-block: 4rem;
}

#hero h1 {
  color: #2d314d;
  font-size: 2.5rem;
  font-weight: 400;
}

#hero p {
  margin-block: 1.5rem;
}

#hero .cta-button {
  margin-bottom: 0;
}

#benefits {
  background-color: #f3f4f6;
  text-align: center;
  padding-block: 4rem;
}

#benefits .benefits-heading {
  margin-bottom: 3rem;
}

#benefits .benefits-heading h2 {
  color: #2d314d;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

#benefits .benefits-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

#benefits .benefit h3 {
  color: #2d314d;
  font-weight: 400;
  margin: 1rem 0;
}

#articles {
  background-color: #fafafa;
  padding: 5rem 0;
}

#articles h4 {
  color: #2d314d;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2rem;
}

#articles .article-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

#articles article {
  background-color: white;
  padding-bottom: 2rem;
}

#articles .article__author {
  font-size: 0.75rem;
  margin: 0.75rem 0;
  padding: 0 2rem;
}

#articles .article__title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #2d314d;
  padding: 0 2rem;
}

#articles .article__body {
  margin-top: 0.75rem;
  font-size: 1rem;
  padding: 0 2rem;
}

footer {
  background-color: #2d314d;
  color: white;
  text-align: center;
  padding-block: 2rem;
}

footer .footer__logo {
  margin-bottom: 2rem;
}

footer .social-icons {
  line-height: 0;
}

footer .social-icons img {
  width: 30px;
  height: 30px;
  margin: 0 0.25rem;
}

footer nav ul {
  margin-block: 2rem;
}

footer nav ul li {
  margin-block: 0.5rem;
}

footer a {
  color: white;
}

footer .cta-button {
  display: inline-block;
  padding: 0.75rem 2rem;
  margin-bottom: 1.5rem;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  border-radius: 100px;
}

footer .copyright {
  font-weight: 300;
  color: #9698a6;
}
/*# sourceMappingURL=styles.css.map */