@use 'variables' as *;

.card {
  margin: 0 auto;
  padding: 1rem;
  max-width: 300px;
  background-color: $color-blue-dark;
  border-radius: 20px;

  @include breakpoint(sm) {
    padding: 2rem;
    max-width: 400px;
  }

  &__heading {
    font-size: 1.5rem;
  }

  &__body {
    color: $color-grey-medium;
  }
}

.card--rate {
  .star {
    width: 50px;
    height: 50px;
    margin-bottom: 2rem;
    background-color: hsl(213, 19%, 20%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 50%;
    }
  }

  .ratings {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-block: 2rem;
  }

  .rating {
    cursor: pointer;
    border-radius: 50%;
    background-color: hsl(213, 19%, 20%);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;

    @include breakpoint(sm) {
      width: 50px;
      height: 50px;
      line-height: 50px;
    }

    &:focus {
      background-color: $color-grey-light;
    }

    &:hover,
    &.selected {
      background-color: $color-primary;
    }
  }
}

.card--thanks {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    margin-bottom: 0.75rem;
  }

  .card__selection {
    text-align: center;
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-block: 1rem;
    color: $color-primary;
    background-color: hsl(213, 19%, 20%);
  }

  .card__header {
    text-align: center;
  }

  .card__body {
    text-align: center;
  }
}
