*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  font-family: "Overpass", sans-serif;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #121417;
  color: white;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
}

button {
  cursor: pointer;
  font-size: 1rem;
  font-family: inherit;
  display: block;
  width: 100%;
  color: white;
  background-color: #fb7413;
  border: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 0.5rem 1rem;
  border-radius: 25px;
}

button:focus, button:hover {
  color: #fb7413;
  background-color: white;
}

.hide {
  display: none !important;
}

.card {
  margin: 0 auto;
  padding: 1rem;
  max-width: 300px;
  background-color: #252d37;
  border-radius: 20px;
}

@media screen and (min-width: 499px) {
  .card {
    padding: 2rem;
    max-width: 400px;
  }
}

.card__heading {
  font-size: 1.5rem;
}

.card__body {
  color: #7c8798;
}

.card--rate .star {
  width: 50px;
  height: 50px;
  margin-bottom: 2rem;
  background-color: #29323d;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card--rate .star img {
  width: 50%;
}

.card--rate .ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1.5rem;
  margin-block: 2rem;
}

.card--rate .rating {
  cursor: pointer;
  border-radius: 50%;
  background-color: #29323d;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

@media screen and (min-width: 499px) {
  .card--rate .rating {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

.card--rate .rating:focus {
  background-color: #959eac;
}

.card--rate .rating:hover, .card--rate .rating.selected {
  background-color: #fb7413;
}

.card--thanks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card--thanks img {
  margin-bottom: 0.75rem;
}

.card--thanks .card__selection {
  text-align: center;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-block: 1rem;
  color: #fb7413;
  background-color: #29323d;
}

.card--thanks .card__header {
  text-align: center;
}

.card--thanks .card__body {
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */