*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

// Container around all the design content
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 92rem;
  height: fit-content;
  background-color: #fff;
  border-radius: 23px;
  box-shadow: 0 20px 30px hsla(237, 12%, 33%, 60%);
  margin-top: 5rem;
}

button {
  background-color: transparent;
  border: transparent;
  text-align: left;
  padding: 0;
  color: darkblue;

  &:hover {
    color: hsl(14, 88%, 65%);
  }
}

.faq-container {
  max-width: 600px;
  margin: 0 auto;

  h1 {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 4rem;
    color: darkblue;
  }
}

.faq {
  &-item {
    margin-top: 2rem;
    border-bottom: 1px solid #e8e8ea;
    color: darkblue;
    font-size: 1.4rem;
  }

  &-question {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    &.collapse::after {
      content: url('images/icon-arrow-down.svg');
      height: 13px;
      width: 10px;
      transition: 0.3s ease-in-out;
    }

    &.show {
      font-weight: 700;

      &::after {
        content: url('images/icon-arrow-down.svg');
        height: 13px;
        width: 10px;
        transform: rotate(180deg);
      }
    }

    &-content {
      width: 95%;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-in-out;
      color: blue;
    }
  }

  &-answer {
  }
}
