@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Spartan", sans-serif;
  color: white;
  line-height: 1.4;
}

img {
  display: inline-block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 2rem;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 760px) {
  .flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 8rem;
  }
}

#hero {
  text-align: center;
}

@media (min-width: 760px) {
  #hero {
    text-align: left;
    max-width: 45%;
  }
}

#hero h1 {
  color: #502050;
  font-size: 3rem;
  margin: 2rem 0;
  line-height: 1;
}

#hero p {
  color: #937b92;
  font-size: 1.25rem;
}

#reviews {
  text-align: center;
  margin: 4rem 0;
}

#reviews .reviews-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  border-radius: 10px;
}

@media (min-width: 760px) {
  #reviews .reviews-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #reviews .reviews-container :nth-child(1) {
    right: 60px;
  }
  #reviews .reviews-container :nth-child(2) {
    right: 30px;
  }
}

#reviews .reviews-container .review {
  background-color: #f7f2f7;
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  position: relative;
}

@media (min-width: 900px) {
  #reviews .reviews-container .review {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#reviews .reviews-container .review .review__stars {
  min-width: 125px;
  margin-top: 0.5rem;
}

#reviews .reviews-container .review p {
  color: #502050;
  font-weight: 700;
  margin-top: 0.5rem;
}

#testimonials .cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

@media (min-width: 900px) {
  #testimonials .cards-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #testimonials .cards-container :nth-child(2) {
    top: 20px;
  }
  #testimonials .cards-container :nth-child(3) {
    top: 40px;
  }
}

#testimonials .card {
  background-color: #502050;
  padding: 3rem 2rem;
  border-radius: 10px;
  position: relative;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  line-height: 1.6;
}

#testimonials .card .card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

#testimonials .card .card__header img {
  border-radius: 50%;
  max-width: 60px;
}

#testimonials .card .card__header .card__header-author h2 {
  font-weight: 700;
}

#testimonials .card .card__header .card__header-author p {
  color: #ee68a4;
  line-height: 1.4;
}
/*# sourceMappingURL=styles.css.map */